In [6]:
tea_varities=["Black","Green","Oolong","White"]
print(tea_varities)
print(tea_varities[-1]) #white
print(tea_varities[2:])

print(tea_varities[1:2])

# each character will get insert as array 'M' 'A' 'S' 'A' 'L' 'A'
 #tea_varities[1:2]="Masala"

tea_varities[1:2]=["Masala"]
print(tea_varities)

['Black', 'Green', 'Oolong', 'White']
White
['Oolong', 'White']
['Green']
['Black', 'Masala', 'Oolong', 'White']

In [16]:
tea_varities[1:1] # empty array []




tea_varities
# ['Black', 'test', 'test', 'test', 'test', 'Masala', 'Oolong', 'White']

['Black', 'test', 'test', 'test', 'test', 'Masala', 'Oolong', 'White']

In [13]:
tea_varities[1:3]=[]
print(tea_varities)

['Black', 'test', 'test', 'Masala', 'Oolong', 'White']

In [18]:
tea_varities=['Black','green','Masala','White']
tea_varities

['Black', 'green', 'Masala', 'White']

In [23]:
for tea in tea_varities:
    print(tea, end="-")



tea_varities.append("Oolong")
tea_varities

if "Oolong" in tea_varities:
    print("I Have Oolong tea")

Black-green-Masala-White-Oolong-I Have Oolong tea

In [32]:
tea_varities=['Black', 'green', 'Masala', 'White']

# pop()-> return and last eel and delete
tea_varities.remove('green')
tea_varities

['Black', 'Masala', 'White']

In [33]:
tea_varities.insert(1,'green')
print(tea_varities)

['Black', 'green', 'Masala', 'White']

In [35]:
# memroy me alag refrence alg alag
tea_varities_copy=tea_varities.copy()
tea_varities_copy.append('Lemon')
print(tea_varities_copy)
print(tea_varities)

['Black', 'green', 'Masala', 'White', 'Lemon']
['Black', 'green', 'Masala', 'White']

In [38]:
squared_nums=[x**2 for x in range(10)] 
squared_nums


cube_nums=[y**3 for y in range(5)]
cube_nums

[0, 1, 8, 27, 64]